*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #1d3557;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
 background-color: #a8dadc77;   
padding: 30px;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: start;
align-items: center;
gap: 10px;
}

.container .gametitle{
    color: #e95a66f7;
    font-size: 30px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;

}

.container .gameBox{
 width: 100%; 
 display: grid;
 grid-template-rows: repeat(3,1fr);   
 grid-template-columns: repeat(3,1fr);
 grid-gap: 10px;   
 
}


.container .gameBox .gameBtns{
    background-color:#f1faee ;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #00000000;
    width: 100%;
    height: 100%;
    
}
.gameBtns:hover{
    box-shadow: #272727a5 0 0 10px;
}

.container .turnShow{
    color: #1d3557;
    font-weight: 800;

}

.turnShow span{
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.container .resetBtn{
    background-color: #1d3557;
    border: none;
    padding: 5px 30px;
    border-radius: 10px;
    color: #a8dadc;
    cursor: pointer;
}
.resetbtn:hover{
    box-shadow: #1d3557  0 0 10px;
    cursor: pointer;
}
.showWinner{
    width: 500px;
    background-color: #a8dadc;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -300px;
    gap: 50px;
    color: #e95a66f7;
    border-radius:0 0 30px 30px ;
    transition: all ease 0.5s;
}
.showWinner .showBtn{
    width: 80%;
    padding: 5px ;
    background-color: #1d3557;
    border-radius: 10px;
    border: none;
    color: #a8dadc;
    cursor: pointer;

}
.showWinner .showBtn:hover{
    background-color: #475467;
}
/* In JS changes */